# Patterns to ignore when building packages.
.DS_Store
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
.TDS
.thumb.db
~*
*.bak
*.tmp
*.orig
*~
.project
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
*.log
logs/
*.md
!README.md
